@page
@model Skylab.Pages.Cells.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<hr>
<hr>
<hr>
<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cell</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cell.CellName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cell.CellName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cell.UpdatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cell.UpdatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cell.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cell.Comments)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Cell.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
<hr>