@page
@model Skylab.Pages.Cells.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<hr>
<hr>
<hr>
<h2>Details</h2>

<div>
    <h4>Cell</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cell.CellName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cell.CellName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cell.UpdatedAt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cell.UpdatedAt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cell.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cell.Comments)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cell.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
<hr>